body, html {
    height: 100%;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    /*background-color: grey;*/
}


#initialPart {
    /* Immagine usata */
    background-image: url("desert.jpeg");
    filter: grayscale(100%);

     /* Altezza al massimo */
    height: 100%; 
    /* Centrare l'immagine e rappresentarla carina */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Filtrare di grigio l'immagine*/
    text-align: center;
}



.left-icon-holder {
    position:relative;
}
.fa-brands, .fa-solid{
    position:absolute;
    line-height: 24px;
    top:50%;
    margin-top: -19px; /* Half of line height to keep left middle postion of container */
    left: 13px;
    font-size:40px
}
