body, html {
    height: 100%;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    /*background-color: grey;*/
}


#initialPart {
    /* Immagine usata */
    background-image: url("desert.jpeg");

     /* Altezza al massimo */
    height: 100%; 
    
    /* Centrare l'immagine e rappresentarla carina */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Filtrare di grigio l'immagine*/
    filter: grayscale(100%);
}

.h1 {
    font-size: 800%;
}

.h2 {
    font-size: 280%;
    text-transform: uppercase;
}

#initialDescription {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
  